.option-form{
    display: flex;
    flex-direction: column;
}

.option-form label{
    color: white;
}

.option-form select{
    max-width: 150px;
}

.input-container p{
    color: white;
}

.input-container .new-bar-title h3 {
    color: white;
    margin: 15px 0 5px 0;
}

.input-container .new-bar {
    background-color: #121212;
    color: white;
    height: 25px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    padding: 2px 0 2px 15px;
}