body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 25);
    font-family: helvetica, arial, sans-serif;
}

/* The following styles the header and banner image */
header {
    width: 100%;
}

header .banner-container {
    height: 120px;
    overflow: hidden;
}

header img {
    width: 100%;
}

header .home-button {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: rgba(176, 59, 16, 0.775);
    max-width: 200px;
    padding: 0 20px;
    margin: 0;
    color: white;
    border-radius: 30px;
}

header .home-button a {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    text-decoration: none;
}

header .title-container {
    position: relative;
    top: -43px;
    margin-inline: auto;
    background-color: rgba(176, 59, 16, 0.775);
    max-width: 400px;
    padding: 4px 30px;
    color: white;
    border-radius: 40px;
}

header .title-container h1 {
    text-align: center;
    text-transform: uppercase;
}

/* The following handles the calculator divs */
.calculator-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
}

.calculator-container {
    margin-top: 20px;
    margin-inline: auto;
    margin-bottom: 20px;
    padding-bottom: 150px;
    width: 80%;
    height: auto;
    background-color: rgb(50, 50, 50)
}

.calculator-container .calculator-title {
    position: relative;
    top: 20px;
    left: 0;
    max-width: 350px;
    padding: 1px 15px;
    background-color: rgba(176, 59, 16, 0.775);
    text-align: center;
    color: white;
    border-radius: 0 30px 30px 0;

}

.calculator-container .input-container {
    padding: 20px 20px 0 20px;
}

.calculator-container .number-bar-title h3 {
    color: white;
    margin: 15px 0 5px 0;
}

.calculator-container .number-bar {
    background-color: rgb(31, 31, 31);
    color: white;
    height: 25px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    padding: 2px 0 2px 15px;
}

.calculator-container .paired-container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    align-content: end;
}

.calculator-container .paired-container .input-container {
    width: 30%;
    margin: 0;
}

.calculator-container .paired-container .map-container {
    width: 60%;
    margin-top: 70px;
}

.button-container {
    position: relative;
    top: 40px;
    left: 100px
}

.calculator-container .paired-container #right-triangle {
    max-height: 300px;
}

@media screen and (max-width: 930px) {
    .calculator-container .paired-container #right-triangle {
        max-height: 200px;
    }

    .calculator-container .number-bar {
        background-color: rgb(31, 31, 31);
        color: white;
        max-width: 100px;
    }

}

@media screen and (max-width: 660px) {
    .calculator-container .paired-container #right-triangle {
        max-height: 150px;
    }

    .calculator-container .number-bar {
        background-color: rgb(31, 31, 31);
        color: white;
        max-width: 100px;
    }

    .calculator-container .paired-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-content: center;
    }

    .button-container {
        left: 20px
    }

    header .home-button {
        top: 15px;
    }

    header .title-container {
        top: -35px;
    }

    header .title-container h1 {
        text-align: center;
        text-transform: uppercase;
    }
}

.button-container h3 {
    margin: 0;
    padding: 0;
}

.button-container .reset-button {
    width: 100px;
    padding: 4px 20px;
    border-radius: 20px;
    color: white;
    background-color: rgba(176, 59, 16, 0.775);
}

.button-container .calculate-button {
    width: 120px;
    padding: 6px 20px;
    border-radius: 20px;
    color: white;
    background-color: rgba(176, 59, 16, 0.775);
}

/* The following contains the footer styling */

footer {
    width: 100%;
}

footer .banner-container {
    position: relative;
    bottom: 0;
    height: 120px;
    overflow: hidden;
    margin-top: 40px;
}

footer img {
    position: relative;
    width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}